# manual
svdmodels/
injection/oldTests/
injection/50mpc_kne/
injection/100mpc_kne/
injection/ALF2.dat
injection/100mpc_kn.tar.gz
injection/100mpc_kne.tar.gz
*.tar.gz
nmma/
*.Identifier
outdir/
# find . -size +100M | cat >> .gitignore
./.git/objects/pack/pack-028acd9953eda97b164d9b891aa3b185a4e82b95.pack
./.git/objects/7f/327eb37568742536205904443b3d707e6c52ba
./injection/100mpc_kne.tar.gz
./injection/100mpc_kne/lightcurves.csv
./injection/testSample31k.tar
./injection/OldTests/scale_test_csv.csv
./svdmodels/Bu2019lm_mag.pkl
./svdmodels/Bu2019lm_lbol.pkl
