# manual
svdmodels/*.pkl
injection/50mpc_kne/
injection/100mpc_kne/
injection/ALF2.dat
injection/100mpc_kn.tar.gz
injection/100mpc_kne.tar.gz
injection/
injection/logs/*
msiStats/logs*
logs/*
*.tar.gz
nmma/
*.Identifier
.ipynb_checkpoints/
.vscode/
__pycache__/
./manual_plotter.py
*.code-workspace
2459787-2459794/

# find . -size +100M | cat >> .gitignore
./.git/objects/pack/pack-028acd9953eda97b164d9b891aa3b185a4e82b95.pack
./.git/objects/7f/327eb37568742536205904443b3d707e6c52ba
./injection/100mpc_kne.tar.gz
./injection/100mpc_kne/lightcurves.csv
./injection/testSample31k.tar
./svdmodels/Bu2019lm_mag.pkl
./svdmodels/Bu2019lm_lbol.pkl
.vscode/launch.json
__pycache__/fit_utils.cpython-310.pyc
__pycache__/fit_utils.cpython-37.pyc
Bu2019lm_result.json
nmma_update.pdf
